!.gitignore

Race the Sun Remake/*
!Race the Sun Remake/Assets/
Race the Sun Remake/Assets/*
!Race the Sun Remake/Assets/To do.txt
!Race the Sun Remake/Assets/Scripts
Race the Sun Remake/Assets/Scripts/*
!Race the Sun Remake/Assets/Scripts/*.cs

Roll a Ball/*
!Roll a Ball/Assets/
Roll a Ball/Assets/*
!Roll a Ball/Assets/Scripts
Roll a Ball/Assets/Scripts/*
!Roll a Ball/Assets/Scripts/*.cs

Space Shooter/*
!Space Shooter/Assets/
Space Shooter/Assets/*
!Space Shooter/Assets/Scripts
Space Shooter/Assets/Scripts/*
!Space Shooter/Assets/Scripts/*.cs

Top-Down Shooter/*
!Top-Down Shooter/Assets/
Top-Down Shooter/Assets/*
!Top-Down Shooter/Assets/To do.txt
!Top-Down Shooter/Assets/_Scripts
Top-Down Shooter/Assets/_Scripts/*
!Top-Down Shooter/Assets/_Scripts/*.cs