*.meta

Original Projects/Race the Sun Remake/*
!Original Projects/Race the Sun Remake/Assets/
Original Projects/Race the Sun Remake/Assets/*
!Original Projects/Race the Sun Remake/Assets/To do.txt
!Original Projects/Race the Sun Remake/Assets/Scripts

Tutorial Projects/Roll a Ball/*
!Tutorial Projects/Roll a Ball/Assets/
Tutorial Projects/Roll a Ball/Assets/*
!Tutorial Projects/Roll a Ball/Assets/Scripts

Tutorial Projects/Space Shooter/*
!Tutorial Projects/Space Shooter/Assets/
Tutorial Projects/Space Shooter/Assets/*
!Tutorial Projects/Space Shooter/Assets/Scripts

Original Projects/Top-Down Shooter/*
!Original Projects/Top-Down Shooter/Assets/
Original Projects/Top-Down Shooter/Assets/*
!Original Projects/Top-Down Shooter/Assets/To do.txt
!Original Projects/Top-Down Shooter/Assets/_Scripts

Original Projects/Castle Defender/*
!Original Projects/Castle Defender/Assets/
Original Projects/Castle Defender/Assets/*
!Original Projects/Castle Defender/Assets/To do.xlsx
!Original Projects/Castle Defender/Assets/_Scripts

Original Projects/PingPong/*
!Original Projects/PingPong/Assets/
Original Projects/PingPong/Assets/*
!Original Projects/PingPong/Assets/Scripts
Original Projects/PingPong/Assets/Scripts/*
!Original Projects/PingPong/Assets/Scripts/*.cs

Original Projects/Snake/*
!Original Projects/Snake/Assets/
Original Projects/Snake/Assets/*
!Original Projects/Snake/Assets/Scripts
